{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <h1>Confirmar exclusão</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            Deseja apagar esse funcionário?
            <br><br>
            <div class="text-end">
            <a class="btn btn-secondary" href="{% url 'list_employees' %}" role="button">Cancelar</a>
            <button type="submit" class="btn btn-primary">Apagar funcionário</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}