{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br>
    <h1>Funcionários</h1>
    <br>
    <a class="btn btn-primary" href="{% url 'create_employee' %}" role="button">Cadastrar funcionário</a>
    <br><br>
    <table class="table">
        <thead class="table-light">
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Cidade</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.phone|default:"-" }}</td>
                <td>{{ employee.city.name }}</td>
                <td><a href="{% url 'edit_employee' employee.id %}"><i class="bi bi-pencil"></i></a></td>
                <td><a href="{% url 'delete_employee' employee.id %}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}